---
import { AlertCircle, MoveRight } from "lucide-astro";
---

<div
  class="bg-red-200/80 rounded-3xl border border-red-500 w-full p-4 text-red-700"
>
  <div class="flex">
    <AlertCircle class="" /><h4 class="text-xl ml-1.5 font-bold">
      Important notice
    </h4>
  </div>

  <p>
    Due to the spread of the new coronavirus, the airport is currently closed.
  </p>
  <a href="" class="flex mt-2 font-bold text-sm">Read more <MoveRight /></a>
</div>
