---
import { CloudSun } from "lucide-astro";
---

<div class="w-full p-2">
  <p class="text-xl">Welcome to</p>
  <h1 class="text-6xl font-bold">Maneda Airport</h1>

  <!--weather forecast? -->
  <span class="flex font-italic">
    <CloudSun />
    <p class="text-base">Today's weather is clear</p>
  </span>
</div>
