---
import Head from "./Head.astro";
import Topmenu from "./Topmenu";
---

<head>
  <Head />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body class="">
  <Topmenu client:only />
  <slot />
</body>
