---
export const description = "This is an template page.";
import Layout from "../../components/Layout.astro";
---

<Layout>
  <!--layout内に記述してください -->
  <div
    class="flex flex-col justify-center items-center bg-gray-300 h-screen w-screen"
  >
    <h1
      class="text-3xl font-bold bg-gradient-to-r from-sky-800 to-indigo-800 inline-block text-transparent bg-clip-text"
    >
      Hello world!
    </h1>
  </div>
</Layout>
