---
export const description = "International Airport's website design";
import Layout from "../../components/Layout.astro";

import { Image } from "astro:assets";
import airportThumbnail from "./images/airport.jpg";
import TopCard from "./components/TopCard.astro";
import MainAction from "./components/MainAction.astro";
---

<Layout>
  <!--layout内に記述してください -->
  <div class="w-screen h-screen">
    <Image
      src={airportThumbnail}
      alt="airport"
      class="absolute top-0 bottom-0 -z-20 saturate-200 bg-gray-200/50 h-full w-full overflow-clip"
    />
    <span
      class="absolute top-0 bottom-0 -z-10 h-full w-full overflow-clip bg-gradient-to-b from-gray-500/20 via-gray-500/60 to-gray-300"
    ></span>
    <!--12カラムグリッド -->
    <div class="max-w-5xl grid grid-cols-12 gap-10 mx-auto w-full h-full p-3">
      <TopCard />
    </div>
    flightinfo(departure, arrival), floorguide, publictransport, shop&dine,
  </div>
</Layout>
